 
h1{
    color: #5125ff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    border-bottom-right-radius: 2px solid #000000;    

}

header{
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: normal;
    border-bottom: 2px solid #000000;    
    padding-bottom: 10px;
}

h2{
    color: #000000;
    font-family: "Segoe UI", Arial, sans-serif;
}

h3{color: #5125ff;
    font-family: "Segoe UI", Arial, sans-serif;
    font-style: italic;
    border-bottom: 10px solid #5125ff;

}

ul {
  list-style-type:circle;
}

footer{
    text-align: right;
    color: brown;
    margin-top: 30px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 40px auto;
  max-width: 900px;
  line-height: 1.6;
  padding: 20px;
  box-sizing: border-box;
  border: 2.5px solid #000000;   
}